<%= form_for @participacao, url: evento_participacoes_path(@evento), html: {} do |f| %>

  <% @participacao.series.each_with_index do |serie, index_serie| %>
    <%= f.fields_for :series, serie do |fs| %>
      <% if primeira_serie_round?(index_serie, @evento.tipo.qtd_series) %>
        <table>
          <thead>
            <tr>
              <th colspan="3">Arrows</th>
              <th>Hits</th>
              <th>Total</th>
              <th>Acumulado</th>
            </tr>
          </thead>
          <tbody>
        <% end %>
          <tr>
            <%= fs.fields_for :tiros do |ft| %>
              <td><%= ft.text_field :pontuacao, :size => 1, :maxlength => 2, :placeholder => '0' %></td>
            <% end %>
            <td></td>
            <td></td>
            <td></td>
          </tr>
         <% if ultima_serie_round?(index_serie, @evento.tipo.qtd_series) %> 
          </tbody>
        </table>
        <% end %>
      <% end %>
    <% end %>

<%= f.submit 'Gravar' %>

<% end %>