<p>
	<b>Nome</b><%= @evento.nome %>
</p>

<p>
	<b>Local</b><%= @evento.local %>
</p>

<p>
	<b>Data</b><%= data_to_br(@evento.data) %>
</p>

<p>
	<b>Cadastado em</b><%= data_to_br(@evento.created_at) %>
</p>

<% if @participacao.nil? %>
<%= link_to 'Lançar pontuação', new_evento_participacao_path(@evento), {:class => 'button radius'} %>
<% else %>
<%= link_to 'Exibir pontuação', evento_participacao_url(@evento, @participacao), {:class => 'button radius'} %>
<%= link_to 'Editar pontuação', edit_evento_participacao_url(@evento, @participacao), {:class => 'button radius'} %>
<% end %>